[user]
        name = Lizards
        email = amanda@smart.net
[credential]
	helper = cache
[core]
        editor = vim
        excludesfile = ~/.gitignore
	abbrev = 7
[alias]
        st = status
        s = status --short
        ci = commit
        co = checkout
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
        lgs = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -15
        lgsa = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -15 --all
        ix = diff --cached
[push]
        default = simple

[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff ${LOCAL} ${REMOTE}"
