*.diff
.private_aliases
.config/Code - OSS
.config/gtk-3.0/servers
.config/gtk-3.0/bookmarks
*.code-workspace
test.db
*.log
celerybeat.pid
htmlcov/
.coverage
.cache
coverage.xml
local_settings.py
*.pyc
extras/
