!! ansi colors

!! black dark/light
!!#define S_black         #1E2541
#define S_black         #080b1c
#define S_brblack       #354274
!!#define S_brblack       #4d5ea1
*color0:                S_black
*color8:                S_brblack

!!#define S_menubar         #080b1c
!!#define S_menubar_title   #4d5ea1

!! red dark/light
#define S_red           #F02E6E
#define S_brred         #F0719B
*color1:                S_red
*color9:                S_brred

!! green dark/light
#define S_green         #2CE592
#define S_brgreen       #5AF7B0
*color2:                S_green
*color10:               S_brgreen

!! yellow dark/light
#define S_yellow        #f59151
!!#define S_yellow        #FF8537
#define S_bryellow      #FFA56B
*color3:                S_yellow
*color11:               S_bryellow

!! blue dark/light
#define S_blue          #1DA0E2
#define S_brblue        #57C7FF
*color4:                S_blue
*color12:               S_brblue

!! magenta dark/light
#define S_magenta       #af6bdb
#define S_brmagenta     #8c60a8
*color5:                S_magenta
*color13:               S_brmagenta

!! cyan dark/light
#define S_cyan          #47BAE8
#define S_brcyan        #89DDFF
*color6:                S_cyan
*color14:               S_brcyan

!! white dark/light
#define S_white         #DEE6E7
#define S_brwhite       #EEFFFF
*color7:                S_white
*color15:               S_brwhite

!! useful extras
#define S_terminal        #171926
#define S_real_black      #000000

*background:            S_terminal
*foreground:            S_white
*depth:                 32
*fading:                40
*fadeColor:             S_terminal
*cursorColor:           S_green
*pointerColorBackground:S_brgreen
*pointerColorForeground:S_brcyan

*utf8:                  1
*saveLines:             999999

!-- Xft settings -- !
! Xft.dpi:        144
Xft.dpi:        220
Xft.rgba:       rgb
Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting:    1
Xft.antialias:  1

*faceSize:              10
*bellIsUrgent:          true

! -- URxvt appearance -- !
URxvt*termName:         rxvt
URxvt*background:       S_terminal
URxvt*cursorBlink:      true
!! enable transparency
!! URxvt*background:    rgba:0000/0000/0000/cccc
!! URxvt.transparent:   true
!! URxvt.tintColor:     S_terminal
!! URxvt.shading:       90

!! fonts
URxvt.font:             xft:Ubuntu Mono:size=8
URxvt.boldFont:         xft:Ubuntu Mono:bold:size=8

!! scroll
!! do not scroll with output
URxvt*scrollTtyOutput:      false
!! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer:     true
!! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress:    true

!! scrollback buffer
URxvt.secondaryScreen:  1
URxvt.secondaryScroll:  0
URxvt.secondaryWheel:   1

!! scrollbar
*scrollBar:             false

!! clickable urls
URxvt.perl-ext-common:      default,matcher,selection-to-clipboard,clipboard
URxvt.url-launcher:         /usr/bin/xdg-open
URxvt.matcher.button:       1
URxvt.url-select.button:    2
URxvt.url-select.underline: true

!! copy/paste
URxvt.clipboard.autocopy:   false
URxvt.clipboard.copycmd:    xsel -ib
URxvt.clipboard.pastecmd:   xsel -ob

!! disable default bindings for Control-Shift
URxvt.iso14755: false
URxvt.iso14755_52: false

!! Control-Shift-C for copy, Control-Shift-V for paste, Control-V for paste
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.keysym.Control-v: perl:clipboard:paste

!! get option over to work
URxvt.keysym.M-Left:        \033[1;5D
URxvt.keysym.M-Right:       \033[1;5C
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

!! make bold colors work in terminal
URxvt*dynamicColors: on
URxvt.intensityStyles: false

#include ".Xresources.d/i3"
#include ".Xresources.d/polybar"
#include ".Xresources.d/rofi"
